@import "variables";
@import "mixins";

// case study global
.main-content-casestudy{
  margin:0 10%;
  margin-bottom:5%;
}

.title-casestudy{
  text-align:center;
  margin-bottom:5%;
  text-transform:uppercase;
  font-family:source sans pro;
  font-size:25px;
  font-weight:900;

  .casestudy{
    font-family:source sans pro;
    font-weight:100;
  }
}

.title{
  clear:both;
  text-transform:uppercase;
  text-align:center;
  font-family:source sans pro;
  font-weight:900;
  font-size:25px;
  color:white;
  background-color:$blue;
  margin:0;
}

.challengescontainer{
  padding:0 0 5% 0;
  box-sizing:border-box;

  .challengestext{
    clear:both;
    font-family:source sans pro;
    font-weight:100;
    font-size:20px;
    margin:3% 10% 5% 0;
    float:left;
    width:60%;
  }
}
// end case study global

// bike md
.bikemd-example-container{

}

.bikescreen{
  height:250px;
  width:49.7%;
  margin-top:5%;
}

// branchless
.branchless-example-container{
  padding-left:5%;
}

.wireframes{
  height:265px;
  margin:2% 0 5% 0;
}

.mockups{
  height:325px;
  margin:5% 2% 0 2%;
}

.toolscontainer{
  text-align:center;
  margin-top:5%;

  .tools{
    padding:0;

    li{
      @include liststylecase;
      font-weight:900;
    }
  }
}
// end branchless

// goodreads
.goodreads-wireframes{
  height:400px;
  margin:5% 2% 0 2%;
}

.goodreads-logo{
  height:250px;
  display:block;
  margin:5% auto;
}

.goodreads-mockup{
  height:400px;
  display:block;
  margin:5% auto;
}

.goodreads-example-container{

}

.bikemd-challenges-button, .work-button, .branchless-challenges-button, .goodreads-challenges-button{
  text-decoration:none;
  color:$blue;
}

.bikemd-challenges-button h4{
  @include fontstyle;
  @include buttonstyles;
  position:relative;
  top:-150%;
  transform:translateY(150%);
}

.branchless-challenges-button h4{
  @include fontstyle;
  @include buttonstyles;
  position:relative;
  top:-150%;
  transform:translateY(150%);
}

.goodreads-challenges-button h4{
  @include fontstyle;
  @include buttonstyles;
  position:relative;
  top:-50%;
  transform:translateY(50%);
}

.work-button h4{
  @include fontstyle;
  @include buttonstyles;
  display:block;
  margin:0 auto;
}

.bikemd-challenges-button h4:hover, .branchless-challenges-button h4:hover, .goodreads-challenges-button h4:hover, .work-button h4:hover{
  @include button-hoverstyles
}
