@mixin fontstyle{
  text-align:center;
  text-transform:uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight:900;
  font-size:25px;
}

@mixin liststylecase{
  list-style-type:none;
  font-family: 'Source Sans Pro', sans-serif;
  padding:10px 0;
  font-weight:100;
  font-size:20px;
}

@mixin linkstyle{
  text-decoration:none;
  color:black;
}

@mixin buttonstyles{
  border:1px solid $blue;
  border-radius:3%;
  font-size:20px;
  display:inline-block;
  text-align:center;
  padding:2%;
  width:20%;
}

@mixin button-hoverstyles{
  color:white;
  background-color:$blue;
  transition:.3s;
}
