.case-footer {
  width: 92%;
  text-align: left;
  margin: 0 0 0 8%; }
  .case-footer .case-contact {
    color: black; }
  .case-footer .case-contact:hover {
    color: #00a1e5;
    transition: .5s;
    cursor: pointer; }
  .case-footer .fa {
    font-size: 3rem;
    margin: 0 2% 5% 2%;
    display: inline-block; }

.main-content-casestudy {
  margin: 0 10%;
  margin-bottom: 5%; }

.title-casestudy, .resume-name {
  text-align: center;
  margin-bottom: 5%;
  text-transform: uppercase;
  font-family: source sans pro;
  font-size: 30px;
  font-weight: 900; }
  .title-casestudy .casestudy, .resume-name .casestudy {
    font-family: source sans pro;
    font-weight: 100; }

.title {
  clear: both;
  text-transform: uppercase;
  text-align: left;
  font-family: source sans pro;
  font-weight: 900;
  font-size: 30px;
  color: black;
  border-bottom: 3px solid #00a1e5;
  margin: 0; }

.challengescontainer {
  padding: 0 0 5% 0;
  box-sizing: border-box; }
  .challengescontainer .challengestext {
    clear: both;
    font-family: source sans pro;
    font-weight: 100;
    font-size: 20px;
    margin: 3% 10% 5% 0;
    float: left;
    width: 60%; }

.bikescreen {
  height: 250px;
  width: 49.7%;
  margin-top: 5%; }

.branchless-example-container {
  padding-left: 5%; }

.wireframes {
  height: 265px;
  margin: 2% 0 5% 0; }

.mockups {
  height: 325px;
  margin: 5% 2% 0 2%; }

.toolscontainer {
  text-align: center;
  margin-top: 5%; }
  .toolscontainer .tools {
    padding: 0; }
    .toolscontainer .tools li {
      list-style-type: none;
      font-family: 'Source Sans Pro', sans-serif;
      padding: 10px 0;
      font-weight: 100;
      font-size: 20px;
      font-weight: 900;
      display: inline-block;
      margin: 3% 3%; }

.goodreads-wireframes {
  height: 400px;
  margin: 5% 2% 0 2%; }

.goodreads-logo {
  height: 250px;
  display: block;
  margin: 5% auto; }

.goodreads-mockup {
  height: 400px;
  display: block;
  margin: 5% auto; }

.bikemd-challenges-button, .work-button, .branchless-challenges-button, .goodreads-challenges-button {
  text-decoration: none;
  color: #00a1e5; }

.bikemd-challenges-button h4 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  font-size: 25px;
  border: 1px solid #00a1e5;
  border-radius: 3%;
  font-size: 20px;
  display: inline-block;
  text-align: center;
  padding: 2%;
  width: 20%;
  position: relative;
  top: -150%;
  transform: translateY(150%); }

.branchless-challenges-button h4 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  font-size: 25px;
  border: 1px solid #00a1e5;
  border-radius: 3%;
  font-size: 20px;
  display: inline-block;
  text-align: center;
  padding: 2%;
  width: 20%;
  position: relative;
  top: -150%;
  transform: translateY(150%); }

.goodreads-challenges-button h4 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  font-size: 25px;
  border: 1px solid #00a1e5;
  border-radius: 3%;
  font-size: 20px;
  display: inline-block;
  text-align: center;
  padding: 2%;
  width: 20%;
  position: relative;
  top: -50%;
  transform: translateY(50%); }

.work-button h4 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  font-size: 25px;
  border: 1px solid #00a1e5;
  border-radius: 3%;
  font-size: 20px;
  display: inline-block;
  text-align: center;
  padding: 2%;
  width: 20%;
  display: block;
  margin: 0 auto; }

.bikemd-challenges-button h4:hover, .branchless-challenges-button h4:hover, .goodreads-challenges-button h4:hover, .work-button h4:hover {
  color: white;
  background-color: #00a1e5;
  transition: .3s; }

.landing-body {
  margin: 0; }

body {
  margin: 150px 0 0 0; }

header .logo {
  height: 350px;
  display: block;
  margin: 0 auto;
  margin-top: 100px; }
header .nav {
  margin: 0;
  text-align: center;
  position: relative;
  top: 160px; }
  header .nav .landingtitles {
    list-style-type: none;
    display: inline-block;
    padding: 0 7.3%;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 25px;
    font-size: 35px; }
    header .nav .landingtitles a {
      text-decoration: none;
      color: black; }
    header .nav .landingtitles a:hover {
      color: white;
      transition: .5s; }
  header .nav .landing-work {
    position: relative;
    right: .5%; }
  header .nav .landing-resume {
    position: relative;
    right: 2.5%; }

footer {
  width: 100%;
  text-align: center;
  margin: 3% 0; }
  footer .contact {
    color: black; }
  footer .contact:hover {
    color: #00a1e5;
    transition: .5s;
    cursor: pointer; }
  footer .fa {
    font-size: 3rem;
    margin: 0 2% 5% 2%;
    display: inline-block; }

.headertemplate {
  height: 110px;
  width: 100%;
  padding: 10px 0 0 0;
  top: 0;
  background: linear-gradient(white, rgba(255, 255, 255, 0.97));
  position: fixed;
  z-index: 100; }
  .headertemplate .navtemplate {
    margin: 0;
    margin-left: 7%; }
    .headertemplate .navtemplate .logotemplate {
      height: 100px; }
    .headertemplate .navtemplate .mainnav {
      margin-left: 60%; }
    .headertemplate .navtemplate li {
      text-align: center;
      text-transform: uppercase;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 900;
      font-size: 25px;
      font-size: 25px;
      display: inline-block;
      box-sizing: border-box;
      padding: 0 3%;
      position: relative;
      top: 230%;
      transform: translateY(-230%); }
      .headertemplate .navtemplate li a {
        text-decoration: none;
        color: black; }
      .headertemplate .navtemplate li .about-link:hover, .headertemplate .navtemplate li .about-link.active {
        color: #ffdd00; }
      .headertemplate .navtemplate li .work-link:hover, .headertemplate .navtemplate li .work-link.active {
        color: #00a1e5; }
      .headertemplate .navtemplate li .resume-link:hover, .headertemplate .navtemplate li .resume-link.active {
        color: #009f50; }
      .headertemplate .navtemplate li a:hover {
        transition: .5s; }

.main3-titles {
  clear: both;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  font-size: 25px;
  display: block; }

.worktitle {
  color: black;
  text-align: left;
  text-transform: uppercase;
  font-size: 25px;
  margin: 3% 0 0 0;
  border-bottom: 3px solid #00a1e5; }

.abouttitle {
  color: black;
  text-align: left;
  text-transform: capitalize;
  font-size: 25px;
  margin: 3% 0 0 10%; }

.email {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  font-size: 25px;
  text-transform: lowercase;
  font-weight: 200;
  font-size: 25px;
  color: black; }

.maincontent-about {
  margin-bottom: 5%;
  padding: 1% 0;
  border-top: 3px solid #ffdd00;
  border-bottom: 3px solid #ffdd00; }
  .maincontent-about .about-image {
    float: left;
    height: 15.98rem;
    margin-right: 1.2%; }
  .maincontent-about .about-text {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 25px;
    text-transform: none;
    text-align: left;
    font-weight: 200;
    font-size: 25px;
    margin: 0; }

.about-footer {
  width: 92%;
  text-align: right;
  margin: 2% 0; }
  .about-footer .contact {
    color: black; }
  .about-footer .contact:hover {
    color: #ffdd00;
    transition: .5s;
    cursor: pointer; }
  .about-footer .fa {
    font-size: 3rem;
    margin: 0 2% 5% 2%;
    display: inline-block; }

.maincontent-work, .maincontent-about, .maincontent-contact {
  margin: 0 10%; }

.homepage-grid {
  float: left;
  width: 31.3%;
  margin: 0 1% 2% 1%;
  height: auto;
  padding: 2% 0;
  box-sizing: border-box; }
  .homepage-grid h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 25px;
    margin: 5% 0 0 0; }
  .homepage-grid .image-box {
    height: 300px;
    width: 100%;
    box-sizing: border-box; }
    .homepage-grid .image-box img {
      object-fit: contain;
      display: block;
      margin: 0 auto;
      height: 100%;
      width: 100%; }
  .homepage-grid .image-box:hover {
    transform: scale(1.03);
    transition: .5s; }
  .homepage-grid p {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 25px;
    font-weight: 400;
    font-size: 15px;
    margin-top: 0;
    font-style: italic; }

.resume-name {
  font-size: 30px;
  margin-bottom: 1%; }

.main-content-resume {
  margin: 0 10%;
  margin-bottom: 5%; }

.skillscontainer {
  padding-left: 15%; }
  .skillscontainer .skills {
    display: inline-block;
    width: 10%;
    margin: 0; }
    .skillscontainer .skills li {
      list-style-type: none;
      font-family: 'Source Sans Pro', sans-serif;
      padding: 10px 0;
      font-weight: 100;
      font-size: 20px;
      font-weight: 900;
      text-align: center; }

.resume-title {
  text-transform: uppercase;
  font-family: source sans pro;
  font-weight: 900;
  font-size: 30px;
  border-bottom: 3px solid #009f50;
  color: black;
  text-align: left;
  margin-top: 3%;
  margin-bottom: 2%; }

.resume-projects-container .project {
  display: block;
  padding: 0 5%;
  padding-left: 1%;
  box-sizing: border-box;
  text-align: left;
  width: 100%;
  margin: 5% 0;
  border-left: 1px solid black;
  margin-bottom: 10%; }
  .resume-projects-container .project .subtitle {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 25px;
    font-weight: 900;
    text-align: left;
    margin: 0;
    padding: 0; }
  .resume-projects-container .project .resume-info {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 25px;
    font-weight: 400;
    font-size: 20px;
    text-align: left;
    text-transform: none;
    font-style: italic; }
  .resume-projects-container .project .resume-role {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 25px;
    font-size: 16px;
    text-align: left;
    text-transform: none;
    margin-top: 0;
    color: #009f50; }
  .resume-projects-container .project .resume-tools {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 25px;
    font-size: 16px;
    text-align: left;
    text-transform: none; }

.resume-footer {
  width: 92%;
  text-align: left;
  margin: 0 0 0 8%; }
  .resume-footer .resume-contact {
    color: black; }
  .resume-footer .resume-contact:hover {
    color: #009f50;
    transition: .5s;
    cursor: pointer; }
  .resume-footer .fa {
    font-size: 3rem;
    margin: 0 2% 5% 2%;
    display: inline-block; }

/*# sourceMappingURL=style.css.map */
