@import "casestudytemplate";
@import "variables";
@import "mixins";

.landing-body{
  margin:0;

  .branch{
    display:none;
  }
}

body{
  margin:150px 0 0 0;
}
// landing page
header{

  .logo-container{
    text-align:center;

    .logo{
      height:23vw;
      margin-top:8%;
    }

    .square1{
      background-color:$yellow;
      border-radius:7%;
    }

    .square2{
      background-color:$blue;
      @extend .square1
    }

    .square3{
      background-color:$green;
      @extend .square1
    }

    .square1:hover{
      background-color:white;
      border-radius:7%;
      transition:1s;
    }

    .square2:hover{
      background-color:white;
      @extend .square1
    }

    .square3:hover{
      background-color:white;
      @extend .square1
    }

    .logo-name{
      height:4.4vw;
      margin-top:1%;
    }
  }
}

footer{
  width:100%;
  text-align:center;
  margin:3% 0;

  .contact{
    color:black;
  }

  .contact:hover{
    color:$blue;
    transition:.5s;
    cursor:pointer;
  }

  .fa{
    font-size:3rem;
    margin:0 2% 5% 2%;
    display:inline-block;
  }
}
// end landing page

// header template global
.headertemplate{
  height:110px;
  width:100%;
  padding:10px 0 0 0;
  top:0;
  background:linear-gradient(
    rgba(white, 1),
    rgba(white, .99)
  );
  position:fixed;
  z-index:100;

  .navtemplate{
    margin:0;
    margin-left:7%;

    .logotemplate{
      height:100px;
    }

    .mainnav{
      margin-left:60%;
    }

    li{
      @include fontstyle;
      font-size:25px;
      display:inline-block;
      box-sizing:border-box;
      padding:0 3%;
      position:relative;
      top:230%;
      transform:translateY(-230%);

      a{
        @include linkstyle;
      }

      .about-link:hover, .about-link.active{
        color:$yellow;
      }

      .work-link:hover, .work-link.active{
        color:$blue;
      }

      .resume-link:hover, .resume-link.active{
        color:$green;
      }

      a:hover{
        transition:.5s;
      }
    }
  }
}
// end header template

// about, work and resume page titles
.main3-titles{
  clear:both;
  @include fontstyle;
  display:block;
}

.worktitle{
  color:black;
  text-align:left;
  text-transform:uppercase;
  font-size:25px;
  margin:3% 0 0 0;
  border-bottom:3px solid $blue;
}

.abouttitle{
  color:black;
  text-align:left;
  text-transform:capitalize;
  font-size:25px;
  margin:3% 0 0 10%;
}

.email{
  @include fontstyle;
  text-transform:lowercase;
  font-weight:200;
  font-size:25px;
  color:black;
}

// about
.maincontent-about{
  padding:1% 0;
  border-top:3px solid $yellow;
  border-bottom:3px solid $yellow;
  margin:0 10% 5% 10%;

  .about-image{
    float:left;
    height:22.98rem;
    margin-right:1.5%;
  }

  .about-text{
    @include fontstyle;
    text-transform:none;
    text-align:left;
    font-weight:500;
    font-size:25px;
    margin:0;
  }
}

.about-footer{
  text-align:left;
  position:fixed;
  top:35%;
  margin-left:3%;
  width:4%;

  .about-contact{
    color:black;
    text-decoration:none;
  }

  .about-contact:hover{
    color:$yellow;
    transition:.5s;
    cursor:pointer;
  }

  .fa{
    font-size:3rem;
    padding:10% 0;
    display:block;
  }
}

// work main content
.maincontent-work, .maincontent-resume{
  margin:0 10%;
}

.homepage-grid{
  float: left;
  width: 31.3%;
  margin:0 1% 2% 1%;
  height:auto;
  padding:2% 0;
  box-sizing:border-box;
  position:relative;

  .work-info{
    position:absolute;
    bottom:6%;
    height:88%;
    width:100%;
    color:white;
    background-color:rgba(black, .7);
    padding-top:33%;
    box-sizing:border-box;
    transform:scale(0);

  h2{
    @include fontstyle;
    margin:5% 0 0 0;
  }
}
  .image-box{
    height:18.5rem;
    width: 100%;

    img{
      object-fit:cover;
      object-position:top;
      display:block;
      margin:0 auto;
      height:100%;
      width: 100%;
    }
  }
// project blurb
  p{
    @include fontstyle;
    font-weight:500;
    font-size:16px;
    margin-top:0;
    font-style:italic;
    text-transform:none;
  }
}

.homepage-grid:hover h2{
  color:$blue;
  transition:.5s;
}

.homepage-grid:hover .work-info{
  transform:scale(1);
  transition:.5s;
}
// resume
// .resume-name{
//   @extend .title-casestudy;
//   font-size:30px;
//   margin-bottom:1%;
// }
//
// .main-content-resume{
//   margin:0 10%;
//   margin-bottom:5%;
// }
//
// .skillscontainer{
//   padding-left:15%;
//
//   .skills{
//     display:inline-block;
//     width:10%;
//     margin:0;
//
//     li{
//       @include liststylecase;
//       font-weight:900;
//       text-align:center;
//     }
//   }
// }
//
// .resume-title{
//   text-transform:uppercase;
//   font-family:source sans pro;
//   font-weight:900;
//   font-size:30px;
//   border-bottom:3px solid $green;
//   color:black;
//   text-align:left;
//   margin-top:3%;
//   margin-bottom:2%;
// }
//
// .resume-projects-container{
//
//   .project{
//     display:block;
//     padding:0 5%;
//     padding-left:1%;
//     box-sizing:border-box;
//     text-align:left;
//     width:100%;
//     margin:5% 0;
//     border-left:1px solid black;
//     margin-bottom:10%;
//
//     .subtitle{
//       @include fontstyle;
//       font-weight:900;
//       text-align:left;
//       margin:0;
//       padding:0;
//     }
//
//     .resume-info{
//       margin:0;
//       @include fontstyle;
//       font-weight:500;
//       font-size:20px;
//       text-align:left;
//       text-transform:none;
//       font-style:italic;
//     }
//
//     .resume-role{
//       @include fontstyle;
//       font-size:20px;
//       text-align:left;
//       text-transform:none;
//       margin-top:0;
//       color:$green;
//     }
//
//     .resume-tools{
//       margin:0;
//       @include fontstyle;
//       font-size:16px;
//       text-align:left;
//       text-transform:none;
//     }
//   }
// }
//
//   .resume-contact:hover{
//     color:$green;
//     transition:.5s;
//     cursor:pointer;
//   }
//
//   .fa{
//     font-size:3rem;
//     margin:0 2% 5% 2%;
//     display:inline-block;
//   }



// media queries
@media (min-width:768px) and (max-width:1026px){

  .headertemplate .navtemplate .mainnav {
    margin-left: 40%;
  }

  .maincontent-work .homepage-grid .work-info{
    transform:scale(1);
    transition:.5s;
    height:40%;
    padding:2% 0;
    bottom:30%;

    h2{
      color:$blue;
    }
  }
}

@media (min-width:586px) and (max-width:767px){
// landing
  header{

  .logo-container{
    text-align:center;
    height:auto;

    .logo{
      height:30vw;
      margin-top:40%;
    }
  }
}
// header nav template
  .headertemplate .navtemplate .mainnav {
    margin-left: 40%;
  }

  .case-footer, .about-footer{
    margin-left:1.5%;
  }

  .maincontent-work .homepage-grid .work-info{
    transform:scale(1);
    transition:.1s;
    height:40%;
    padding:2% 0;
    bottom:30%;

    h2{
      color:$blue;
    }
  }
}

@media (max-width:585px){
// landing
  header{

  .logo-container{
    text-align:center;
    height:auto;

    .logo{
      height:30vw;
      margin-top:40%;
    }

    .logo-name{
      height:5.5vw;
    }

    .square1{
      background-color:$yellow;
      border-radius:5%;
    }

    .square2{
      background-color:$blue;
      border-radius:5%;
    }

    .square3{
      background-color:$green;
      border-radius:5%;
    }

    .square1:hover, .square2:hover, .square3:hover{
      background-color:white;
      border-radius:5%;
    }
  }
}
// icons
  footer{
    margin-top:10%;
  }
// header nav template
  .headertemplate{
    height:147px;
  }

  .headertemplate .navtemplate {
    margin-left: 9%;
}

  .headertemplate .navtemplate .mainnav {
      margin-left: -12%;
      margin-top:27%;
      font-size:20px;
  }

  .worktitle{
    display:none;
  }

  .homepage-grid{
    float: left;
    width: 100%;
    margin:0 1% 2% 1%;
    height:auto;
    padding:2% 0;
    box-sizing:border-box;
  }

  .maincontent-work .homepage-grid .work-info{
    transform:scale(1);
    transition:.1s;
    height:55%;
    padding-top:17%;
    bottom:9%;
    background-color:rgba(black, .6);

    h2{
      color:$blue;
      margin:0;
    }
  }

  .case-footer{
    position:static;
    text-align:center;
    width:70%;
    margin:0 auto;
    margin-top:50%;

    .fa{
      font-size:2rem;
      padding:5%;
      display:inline-block;
    }
  }

// resume
  .main-content-resume{
    margin:0 5%;
    margin-bottom:5%;
  }

  .resume-title{
    margin-bottom:7%;
  }

  .skillscontainer{
    padding-left:15%;

    .skills{
      display:block;
      width:50%;

      li{
        font-size:25px;
      }
    }
  }

  .resume-projects-container .project{
    border-left:0px;
  }

  .maincontent-about{

    .about-image{
      float:none;
      width:100%;
      height:24.98rem;
    }

    .about-text{
      font-weight:300;
      font-size:25px;
      margin:0;
    }
  }

  .abouttitle{
    color:black;
    text-align:center;
    text-transform:uppercase;
    font-size:20px;
    margin:50% 0 0 0;
  }

  .about-footer{
    position:static;
    text-align:center;
    width:70%;
    margin:0 auto;
    margin-top:1%;

    .fa{
      font-size:2rem;
      padding:5%;
      display:inline-block;
    }
  }

// case studies global
.main-content-casestudy{
  margin:0 5%;
}

.title{
  margin-top:30%;
}

.title-casestudy{
  font-size:25px;
}

.challengescontainer{
  padding:0 0 5% 0;
  box-sizing:border-box;

  .challengestext{
    font-weight:500;
    font-size:20px;
    margin:3% 10% 5% 0;
    width:100%;
  }

  .summarytext{
    width:100%;
    margin-bottom:15%;
  }

  .bikemd-challenges-button h4 {
    display:inline-block;
    width: 45%;
    position:static;
    margin:2% 25%;
  }
}

.work-button h4{
  display:inline-block;
  width: 45%;
  position:static;
  margin:0 25%;
  margin-bottom:5%;
}

// bikemd case
  .bikescreen{
    width:98%;
    height:auto;
  }

// branchless case
  .branchless-example-container{
    padding:0;
  }

  .wireframes{
    height:auto;
    width:100%;
    margin:0;
  }

  .mockups{
    height:auto;
    width:100%;
    margin:5% 0;
  }

  .branchless-challenges-button h4{
    display:inline-block;
    width: 45%;
    position:static;
    margin:2% 25%;
  }
  // end branchless

  // goodreads case
  .goodreads-wireframes{
    height:auto;
    width:100%;
    margin:5% 2% 0 2%;
  }

  .goodreads-logo{
    height:auto;
    width:100%;
    display:block;
    margin:5% auto;
  }

  .goodreads-mockup{
    height:auto;
    width:100%;
    display:block;
    margin:5% auto;
  }

  .goodreads-challenges-button h4{
    display:inline-block;
    width: 45%;
    position:static;
    margin:2% 25%;
  }
}
