.main-content-casestudy {
  margin: 0 10%;
  margin-bottom: 5%; }

.title-casestudy {
  text-align: center;
  margin-bottom: 5%;
  text-transform: uppercase;
  font-family: source sans pro;
  font-size: 30px;
  font-weight: 900; }
  .title-casestudy .casestudy {
    font-family: source sans pro;
    font-weight: 100; }

.title {
  clear: both;
  text-transform: uppercase;
  text-align: left;
  font-family: source sans pro;
  font-weight: 900;
  font-size: 30px;
  color: black;
  border-bottom: 3px solid #00a1e5;
  margin: 0; }

.challengescontainer {
  padding: 0 0 5% 0;
  box-sizing: border-box; }
  .challengescontainer .challengestext, .challengescontainer .summarytext {
    clear: both;
    font-family: source sans pro;
    font-weight: 500;
    font-size: 20px;
    margin: 3% 10% 5% 0;
    float: left;
    width: 60%; }
  .challengescontainer .summarytext {
    width: 70%; }

.bikescreen {
  height: 250px;
  width: 49.7%;
  margin-top: 5%; }

.branchless-example-container {
  padding-left: 5%; }

.wireframes {
  height: 265px;
  margin: 2% 0 5% 0; }

.mockups {
  height: 325px;
  margin: 5% 2% 0 2%; }

.interim {
  height: 1000px;
  width: 70%;
  display: block;
  margin: 5% auto 0 11%; }

.toolscontainer {
  text-align: center;
  margin-top: 5%; }
  .toolscontainer .tools {
    padding: 0; }
    .toolscontainer .tools li {
      list-style-type: none;
      font-family: 'Source Sans Pro', sans-serif;
      padding: 10px 0;
      font-weight: 100;
      font-size: 20px;
      font-weight: 900;
      display: inline-block;
      margin: 3% 3%; }

.goodreads-wireframes {
  height: 400px;
  margin: 5% 2% 0 2%; }

.goodreads-logo {
  height: 250px;
  display: block;
  margin: 5% auto; }

.goodreads-mockup {
  height: 400px;
  display: block;
  margin: 5% auto; }

.bikemd-challenges-button, .work-button, .branchless-challenges-button, .goodreads-challenges-button {
  text-decoration: none;
  color: #00a1e5; }

.bikemd-challenges-button h4 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  font-size: 25px;
  border: 1px solid #00a1e5;
  border-radius: 3%;
  font-size: 20px;
  display: inline-block;
  text-align: center;
  padding: 2%;
  width: 20%;
  position: relative;
  top: -150%;
  transform: translateY(150%); }

.branchless-challenges-button h4 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  font-size: 25px;
  border: 1px solid #00a1e5;
  border-radius: 3%;
  font-size: 20px;
  display: inline-block;
  text-align: center;
  padding: 2%;
  width: 20%;
  position: relative;
  top: -150%;
  transform: translateY(150%); }

.goodreads-challenges-button h4 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  font-size: 25px;
  border: 1px solid #00a1e5;
  border-radius: 3%;
  font-size: 20px;
  display: inline-block;
  text-align: center;
  padding: 2%;
  width: 20%;
  position: relative;
  top: -50%;
  transform: translateY(50%); }

.work-button h4 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  font-size: 25px;
  border: 1px solid #00a1e5;
  border-radius: 3%;
  font-size: 20px;
  display: inline-block;
  text-align: center;
  padding: 2%;
  width: 20%;
  display: block;
  margin: 0 auto; }

.bikemd-challenges-button h4:hover, .branchless-challenges-button h4:hover, .goodreads-challenges-button h4:hover, .work-button h4:hover {
  color: white;
  background-color: #00a1e5;
  transition: .3s; }

.landing-body {
  margin: 0; }
  .landing-body .branch {
    display: none; }

body {
  margin: 200px 0 0 0; }

/* landing page*/
header .logo-container {
  text-align: center; }
  header .logo-container .logo {
    height: 23vw;
    margin-top: 8%; }
  header .logo-container .square1 {
    background-color: #ffdd00;
    border-radius: 7%;
    transition: .5s;
    animation: square1float 2s; }
  header .logo-container .square2 {
    background-color: #00a1e5;
    border-radius: 7%;
    transition: .5s;
    animation: square2float 2s; }
  header .logo-container .square3 {
    background-color: #009f50;
    border-radius: 7%;
    transition: .5s;
    animation: square3float 2s; }
  header .logo-container .logo-name {
    height: 4.4vw;
    margin-top: 1%;
    animation: nameappear 1s; }

footer {
  width: 100%;
  text-align: center;
  animation: infolinksappear 2s; }
  footer .contact {
    color: black;
    transition: .5s; }
  footer .contact:hover {
    color: #00a1e5;
    -webkit-transition: .5s;
    cursor: pointer; }
  footer .fa {
    font-size: 40px;
    margin: 0 2% 5% 2%;
    display: inline-block; }

/* end landing page*/
/* header template global*/
.headertemplate {
  height: 110px;
  width: 100%;
  padding: 10px 0 0 0;
  top: 0;
  background: linear-gradient(white, rgba(255, 255, 255, 0.99));
  position: fixed;
  z-index: 100; }
  .headertemplate .navtemplate {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    padding: 0;
    margin: 20px 10% 0;
    background-color: #fff; }
    .headertemplate .navtemplate .logotemplate {
      height: 110px;
      padding-bottom: 10px; }
    .headertemplate .navtemplate li {
      text-align: center;
      text-transform: uppercase;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 900;
      font-size: 25px;
      font-size: 18px;
      display: inline-block;
      box-sizing: border-box;
      padding: 0 8px;
      margin: 20px 0; }
      @media (min-width: 767px) {
        .headertemplate .navtemplate li {
          font-size: 25px; } }
      .headertemplate .navtemplate li a {
        text-decoration: none;
        color: black;
        transition: .3s; }
      .headertemplate .navtemplate li .about-link:hover,
      .headertemplate .navtemplate li .about-link.active {
        color: #ffdd00; }
      .headertemplate .navtemplate li .work-link:hover,
      .headertemplate .navtemplate li .work-link.active {
        color: #00a1e5; }
      .headertemplate .navtemplate li .resume-link:hover,
      .headertemplate .navtemplate li .resume-link.active {
        color: #009f50; }
  @media (min-width: 767px) {
    .headertemplate .navtemplate {
      -ms-flex-direction: row;
          flex-direction: row; }
      .headertemplate .navtemplate .mainnav {
        margin-left: auto; }
      .headertemplate .navtemplate li {
        margin: 0; } }

/* end header template*/
/* about, work and resume page titles*/
.main3-titles {
  clear: both;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  font-size: 25px;
  display: block; }

.worktitle {
  color: black;
  text-align: left;
  text-transform: uppercase;
  font-size: 25px;
  border-bottom: 3px solid #00a1e5;
  width: 100%; }
  @media (min-width: 767px) {
    .worktitle {
      margin: 90px 0 0 0; } }

.abouttitle {
  color: black;
  text-align: left;
  text-transform: capitalize;
  font-size: 25px;
  margin: 3% 0 0 10%; }

.email {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  font-size: 25px;
  text-transform: lowercase;
  font-weight: 200;
  font-size: 25px;
  color: black; }

/* about*/
.maincontent-about {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  padding: 1% 0;
  border-top: 3px solid #ffdd00;
  margin: 0 10% 5% 10%; }
  .maincontent-about .about-image {
    height: auto;
    width: 220px;
    margin: 20px 0; }
  .maincontent-about .about-text {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 25px;
    text-transform: none;
    text-align: left;
    font-weight: 500;
    font-size: 21px;
    margin: 0; }

.about-footer {
  text-align: left;
  position: fixed;
  top: 35%;
  margin-left: 3%;
  width: 4%; }
  .about-footer .about-contact {
    color: black;
    text-decoration: none; }
  .about-footer .about-contact:hover {
    color: #ffdd00;
    transition: .5s;
    cursor: pointer; }
  .about-footer .fa {
    font-size: 3rem;
    padding: 10% 0;
    display: block; }

/* work main content*/
.maincontent-work, .maincontent-resume {
  margin: 0 10%; }

.maincontent-work {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px; }
  .maincontent-work a {
    -ms-flex: 1 1 100%;
        flex: 1 1 100%; }

.homepage-grid {
  margin: 5px;
  padding-bottom: 70px;
  height: auto;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  /* project blurb*/ }
  .homepage-grid .work-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    padding: 0 15px;
    background-color: black;
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center; }
    .homepage-grid .work-info h2 {
      text-align: center;
      text-transform: uppercase;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 900;
      font-size: 25px;
      margin: 5% 0 0 0;
      color: #00a1e5;
      font-size: 22px; }
  .homepage-grid .image-box {
    height: 18.5rem;
    width: 100%; }
    .homepage-grid .image-box img {
      object-fit: cover;
      object-position: top;
      display: block;
      margin: 0 auto;
      height: 100%;
      width: 100%; }
  .homepage-grid p {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 25px;
    font-weight: 500;
    font-size: 16px;
    margin-top: 0;
    font-style: italic;
    text-transform: none; }

.work-1 {
  animation: workappeartop-1 1s; }

.work-2 {
  animation: workappeartop-2 1.2s; }

.work-3 {
  animation: workappeartop-3 1.5s; }

.work-4 {
  animation: workappearbottom-1 1.7s; }

.work-5 {
  animation: workappearbottom-2 2s; }

.work-6 {
  animation: workappearbottom-3 2.2s; }

@media (min-width: 768px) {
  .maincontent-work a {
    -ms-flex: 1 1 50%;
        flex: 1 1 50%; } }

@media (min-width: 1024px) {
  .maincontent-work a {
    -ms-flex: 1 1 30%;
        flex: 1 1 30%; }
  .maincontent-work .homepage-grid {
    padding-bottom: 0; }
    .maincontent-work .homepage-grid .work-info {
      transform: translateY(50%);
      opacity: 0;
      transition: .5s;
      -ms-flex-pack: center;
          justify-content: center;
      top: 0;
      background-color: rgba(0, 0, 0, 0.7); }
      .maincontent-work .homepage-grid .work-info h2 {
        font-size: 24px; }
    .maincontent-work .homepage-grid:hover .work-info h2 {
      color: #00a1e5;
      transition: .5s; }
    .maincontent-work .homepage-grid:hover .work-info {
      transform: translateY(0);
      opacity: 1; } }

.case-footer {
  margin-top: 210px; }
  .case-footer .case-contact {
    color: black;
    text-decoration: none;
    position: static;
    top: 35%;
    width: 4%;
    transition: .5s; }
  .case-footer .case-contact:hover {
    color: #00a1e5;
    cursor: pointer; }

@media (min-width: 767px) {
  .case-footer {
    text-align: left;
    position: fixed;
    top: 35%;
    margin-top: 0;
    margin-left: 3%;
    width: 4%; }
    .case-footer .fa {
      font-size: 40px;
      padding: 10% 0;
      display: block; } }

@media (min-width: 586px) and (max-width: 767px) {
  /* landing*/
  header .logo-container {
    text-align: center;
    height: auto; }
    header .logo-container .logo {
      height: 30vw;
      margin-top: 40%; }
  .about-footer {
    margin-left: 1.5%; } }

@media (max-width: 585px) {
  /* landing*/
  header .logo-container {
    text-align: center;
    height: auto; }
    header .logo-container .logo {
      height: 30vw;
      margin-top: 40%; }
    header .logo-container .logo-name {
      height: 5.5vw; }
    header .logo-container .square1 {
      background-color: #ffdd00;
      border-radius: 5%; }
    header .logo-container .square2 {
      background-color: #00a1e5;
      border-radius: 5%; }
    header .logo-container .square3 {
      background-color: #009f50;
      border-radius: 5%; }
    header .logo-container .square1:hover, header .logo-container .square2:hover, header .logo-container .square3:hover {
      background-color: white;
      border-radius: 5%; }
  /* header nav template*/
  .headertemplate {
    height: 147px; }
  .headertemplate .navtemplate {
    background-color: white; }
  .headertemplate .navtemplate .mainnav {
    font-size: 20px; }
  .worktitle {
    display: none; }
  .homepage-grid {
    height: auto;
    box-sizing: border-box; }
    .homepage-grid + .homepage-grid {
      margin-top: 10px; }
  .maincontent-about .about-image {
    float: none;
    width: 220px;
    height: auto; }
  .maincontent-about .about-text {
    font-weight: 300;
    font-size: 25px;
    margin: 0; }
  .abouttitle {
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    margin: 50% 0 0 0; }
  .about-footer {
    position: static;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    margin-top: 1%; }
    .about-footer .fa {
      font-size: 2rem;
      padding: 5%;
      display: inline-block; }
  /* case studies global*/
  .main-content-casestudy {
    margin: 0 5%; }
  .title {
    margin-top: 30%; }
  .title-casestudy {
    font-size: 25px; }
  .challengescontainer {
    padding: 0 0 5% 0;
    box-sizing: border-box; }
    .challengescontainer .challengestext, .challengescontainer .summarytext {
      font-weight: 500;
      font-size: 20px;
      margin: 3% 10% 5% 0;
      width: 100%; }
    .challengescontainer .summarytext {
      width: 100%;
      margin-bottom: 15%; }
    .challengescontainer .bikemd-challenges-button h4 {
      display: inline-block;
      width: 45%;
      position: static;
      margin: 2% 25%; }
  .work-button h4 {
    display: inline-block;
    width: 45%;
    position: static;
    margin: 0 25%;
    margin-bottom: 5%; }
  /* bikemd case*/
  .bikescreen {
    width: 98%;
    height: auto; }
  /* branchless case*/
  .branchless-example-container {
    padding: 0; }
  .wireframes {
    height: auto;
    width: 100%;
    margin: 0; }
  .mockups {
    height: auto;
    width: 100%;
    margin: 5% 0; }
  .branchless-challenges-button h4 {
    display: inline-block;
    width: 45%;
    position: static;
    margin: 2% 25%; }
  /* end branchless*/
  /* goodreads case*/
  .goodreads-wireframes {
    height: auto;
    width: 100%;
    margin: 5% 2% 0 2%; }
  .goodreads-logo {
    height: auto;
    width: 100%;
    display: block;
    margin: 5% auto; }
  .goodreads-mockup {
    height: auto;
    width: 100%;
    display: block;
    margin: 5% auto; }
  .goodreads-challenges-button h4 {
    display: inline-block;
    width: 45%;
    position: static;
    margin: 2% 25%; } }

@keyframes square1float {
  0% {
    transform: translateY(-100%);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes square2float {
  0% {
    transform: translateY(-200%);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes square3float {
  0% {
    transform: translateY(-300%);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes workappeartop-1 {
  0% {
    transform: translateY(300px);
    opacity: 0; }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes workappeartop-2 {
  0% {
    transform: translateY(2300px);
    opacity: 0; }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes workappeartop-3 {
  0% {
    transform: translateY(4300px);
    opacity: 0; }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes workappearbottom-1 {
  0% {
    transform: translateY(3000px);
    opacity: 0; }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes workappearbottom-2 {
  0% {
    transform: translateY(4000px);
    opacity: 0; }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes workappearbottom-3 {
  0% {
    transform: translateY(5000px);
    opacity: 0; }
  100% {
    opacity: 1;
    transform: translateY(0); } }

/* media queries*/
@media (min-width: 586px) and (max-width: 767px) {
  /* landing*/
  header .logo-container {
    text-align: center;
    height: auto; }
    header .logo-container .logo {
      height: 30vw;
      margin-top: 40%; } }

@media (min-width: 1024px) {
  .case-footer, .about-footer {
    margin-left: 1.5%; } }

@media (max-width: 585px) {
  /* landing*/
  header .logo-container {
    text-align: center;
    height: auto; }
    header .logo-container .logo {
      height: 30vw;
      margin-top: 40%; }
    header .logo-container .logo-name {
      height: 5.5vw; }
    header .logo-container .square1 {
      background-color: #ffdd00;
      border-radius: 5%; }
    header .logo-container .square2 {
      background-color: #00a1e5;
      border-radius: 5%; }
    header .logo-container .square3 {
      background-color: #009f50;
      border-radius: 5%; }
    header .logo-container .square1:hover, header .logo-container .square2:hover, header .logo-container .square3:hover {
      background-color: white;
      border-radius: 5%; }
  /* icons*/
  footer {
    margin-top: 10%; }
  /* header nav template*/
  .headertemplate {
    height: 147px; }
  .headertemplate .navtemplate .mainnav {
    font-size: 20px; }
  .worktitle {
    display: none; }
  .abouttitle {
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    margin: 50% 0 0 0; }
  .about-footer {
    position: static;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    margin-top: 1%; }
    .about-footer .fa {
      font-size: 2rem;
      padding: 5%;
      display: inline-block; }
  /* case studies global*/
  .main-content-casestudy {
    margin: 0 5%; }
  .title {
    margin-top: 30%; }
  .title-casestudy {
    font-size: 25px; }
  .challengescontainer {
    padding: 0 0 5% 0;
    box-sizing: border-box; }
    .challengescontainer .challengestext, .challengescontainer .summarytext {
      font-weight: 500;
      font-size: 20px;
      margin: 3% 10% 5% 0;
      width: 100%; }
    .challengescontainer .summarytext {
      width: 100%;
      margin-bottom: 15%; }
    .challengescontainer .bikemd-challenges-button h4 {
      display: inline-block;
      width: 45%;
      position: static;
      margin: 2% 25%; }
  .work-button h4 {
    display: inline-block;
    width: 45%;
    position: static;
    margin: 0 25%;
    margin-bottom: 5%; }
  /* bikemd case*/
  .bikescreen {
    width: 98%;
    height: auto; }
  /* branchless case*/
  .branchless-example-container {
    padding: 0; }
  .wireframes {
    height: auto;
    width: 100%;
    margin: 0; }
  .mockups {
    height: auto;
    width: 100%;
    margin: 5% 0; }
  .branchless-challenges-button h4 {
    display: inline-block;
    width: 45%;
    position: static;
    margin: 2% 25%; }
  /* end branchless*/
  /* goodreads case*/
  .goodreads-wireframes {
    height: auto;
    width: 100%;
    margin: 5% 2% 0 2%; }
  .goodreads-logo {
    height: auto;
    width: 100%;
    display: block;
    margin: 5% auto; }
  .goodreads-mockup {
    height: auto;
    width: 100%;
    display: block;
    margin: 5% auto; }
  .goodreads-challenges-button h4 {
    display: inline-block;
    width: 45%;
    position: static;
    margin: 2% 25%; } }
