@import "casestudytemplate";
@import "variables";
@import "mixins";

.landing-body{
  margin:0;
}

body{
  margin:150px 0 0 0;
}

// landing page
header{

  .logo{
    height:350px;
    display:block;
    margin:0 auto;
    margin-top:100px;
  }

  .nav{
    margin:0;
    text-align:center;
    position:relative;
    top:160px;

    .landingtitles{
      list-style-type:none;
      display:inline-block;
      padding:0 7.3%;
      @include fontstyle;
      font-size:35px;

      a{
        @include linkstyle;
      }

      a:hover{
        color:white;
        transition:.5s;
      }
    }

    .landing-work{
      position:relative;
      right:.5%;
    }

    .landing-resume{
      position:relative;
      right:2.5%;
    }
  }
}

footer{
  position:absolute;
  bottom:0;
  left:40.5%;

  .landing-email{
    color:black;
  }
}
// end landing page

// header template global
.headertemplate{
  height:110px;
  width:100%;
  padding:10px 0 0 0;
  top:0;
  background:linear-gradient(
    rgba(white, 1),
    rgba(white, .97)
  );
  position:fixed;
  z-index:100;

  .navtemplate{
    margin:0;
    margin-left:7%;

    .logotemplate{
      height:100px;
    }

    .mainnav{
      margin-left:60%;
    }

    li{
      @include fontstyle;
      font-size:25px;
      display:inline-block;
      box-sizing:border-box;
      padding:0 3%;
      position:relative;
      top:230%;
      transform:translateY(-230%);

      a{
        @include linkstyle;
      }

      .about-link:hover, .about-link.active{
        color:$yellow;
      }

      .work-link:hover, .work-link.active{
        color:$blue;
      }

      .resume-link:hover, .resume-link.active{
        color:$green;
      }

      a:hover{
        transition:.5s;
      }
    }
  }
}
// end header template

// about, work and resume page titles
.main3-titles{
  @include fontstyle;
  display:block;
}

.worktitle{
  color:black;
  text-align:left;
  text-transform:uppercase;
  font-size:25px;
  margin:3% 0;
  border-bottom:3px solid $blue;
}

.abouttitle{
  color:black;
  text-align:left;
  text-transform:capitalize;
  font-size:25px;
  margin:3% 0 0 10%;
}

.email{
  @include fontstyle;
  text-transform:lowercase;
  font-weight:200;
  font-size:25px;
  color:black;
}

// about
.maincontent-about{
  margin-bottom:5%;
  padding:1% 0;
  border-top:3px solid $yellow;
  border-bottom:3px solid $yellow;

  .about-image{
    float:left;
    height:15.98rem;
    margin-right:1.2%;
  }

  .about-text{
    @include fontstyle;
    text-transform:none;
    text-align:left;
    font-weight:200;
    font-size:25px;
    margin:0;
  }
}

// work main content
.maincontent-work, .maincontent-about, .maincontent-contact{
  margin:0 10%;
}

.homepage-grid{
  float: left;
  width: 31.3%;
  margin:0 1% 2% 1%;
  height:auto;
  padding:2% 0;
  box-sizing:border-box;

  h2{
    @include fontstyle;
    margin:0;
  }

  .image-box{
    height:300px;
    width: 100%;
    box-sizing:border-box;


    img{
      object-fit:contain;
      display:block;
      margin:0 auto;
      height:100%;
      width: 100%;
    }
  }

  .image-box:hover{
    transform:scale(1.03);
    transition:.5s;
  }
// project blurb
  p{
    @include fontstyle;
    font-weight:100;
    font-size:15px;
    margin-top:0;
  }
}

// resume
.main-content-resume{
  margin:0 10%;
  margin-bottom:5%;
}

.skillscontainer{
  padding-left:10%;

  .skills{
    display:inline-block;
    text-align:left;
    width:22%;
    margin:0;
    border-radius:3%;

    li{
      @include liststylecase;
      font-weight:900;
      text-align:center;
    }
  }

  // .skills1{
  //   animation: fadein 1s;
  // }
  //
  // .skills2{
  //   animation: fadein 2s;
  // }
  //
  // .skills3{
  //   animation: fadein 3s;
  // }
}

.resume-title{
  text-transform:uppercase;
  font-family:source sans pro;
  font-weight:900;
  font-size:25px;
  border-bottom:3px solid $green;
  color:black;
  text-align:left;
  margin-bottom:5%;
}

.resume-projects-container{

  .project{
    display:block;
    padding:0 5%;
    padding-left:1%;
    box-sizing:border-box;
    text-align:left;
    width:100%;
    margin:5% 0;
    border-left:1px solid black;
    margin-bottom:10%;

    .subtitle{
      @include fontstyle;
      font-weight:900;
      text-align:left;
      margin:0;
      padding:0;
    }

    .resume-info{
      margin:0;
      @include fontstyle;
      font-weight:200;
      font-size:20px;
      text-align:left;
      text-transform:none;
      font-style:italic;
    }

    .resume-role{
      @include fontstyle;
      font-size:16px;
      text-align:left;
      text-transform:none;
      margin-top:0;
      color:$green;
    }

    .resume-tools{
      margin:0;
      @include fontstyle;
      font-size:16px;
      text-align:left;
      text-transform:none;
    }
  }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
