.main-content-casestudy {
  margin: 0 10%;
  margin-bottom: 5%; }

.title-casestudy {
  text-align: center;
  margin-bottom: 5%;
  text-transform: uppercase;
  font-family: source sans pro;
  font-size: 25px;
  font-weight: 900; }
  .title-casestudy .casestudy {
    font-family: source sans pro;
    font-weight: 100; }

.title {
  text-transform: uppercase;
  text-align: left;
  font-family: source sans pro;
  font-weight: 900;
  font-size: 25px;
  color: black;
  border-bottom: 1px solid #00a1e5;
  margin: 0; }

.challengescontainer {
  padding: 0 0 5% 0;
  box-sizing: border-box; }
  .challengescontainer .challengestext {
    font-family: source sans pro;
    font-weight: 100;
    font-size: 20px;
    margin: 3% 10% 5% 0;
    float: left;
    width: 60%; }

.bikescreen {
  height: 250px;
  width: 49.7%;
  margin-top: 5%; }

.wireframes {
  height: 265px;
  margin: 2% 0 5% 0; }

.mockups {
  height: 325px;
  margin: 5% 2% 0 2%; }

.toolscontainer {
  text-align: center;
  margin-top: 5%; }
  .toolscontainer .tools {
    padding: 0; }
    .toolscontainer .tools li {
      list-style-type: none;
      font-family: source sans pro;
      padding: 10px 0;
      font-weight: 100;
      font-size: 20px;
      font-weight: 900; }

.goodreads-wireframes {
  height: 400px;
  margin: 5% 2% 0 2%; }

.goodreads-logo {
  height: 250px;
  display: block;
  margin: 5% auto; }

.goodreads-mockup {
  height: 400px;
  display: block;
  margin: 5% auto; }

.example-container {
  clear: both; }

.challenges-button, .work-button, .branchless-challenges-button {
  text-decoration: none;
  color: #00a1e5; }

.challenges-button h4 {
  border: 1px solid #00a1e5;
  border-radius: 3%;
  text-align: center;
  text-transform: uppercase;
  font-family: source sans pro;
  font-weight: 900;
  font-size: 25px;
  font-size: 20px;
  display: inline-block;
  text-align: center;
  position: relative;
  top: -50%;
  transform: translateY(50%);
  padding: 2%;
  width: 20%; }

.branchless-challenges-button h4 {
  border: 1px solid #00a1e5;
  border-radius: 3%;
  text-align: center;
  text-transform: uppercase;
  font-family: source sans pro;
  font-weight: 900;
  font-size: 25px;
  font-size: 20px;
  display: inline-block;
  text-align: center;
  position: relative;
  top: -90%;
  transform: translateY(90%);
  padding: 2%;
  width: 20%; }

.work-button h4 {
  border: 1px solid #00a1e5;
  border-radius: 3%;
  text-align: center;
  text-transform: uppercase;
  font-family: source sans pro;
  font-weight: 900;
  font-size: 25px;
  font-size: 20px;
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 2%;
  width: 20%; }

.challenges-button h4:hover, .work-button h4:hover, .branchless-challenges-button h4:hover {
  color: white;
  background-color: #00a1e5;
  transition: .3s; }

body {
  margin: 150px 0 0 0; }

header .logo {
  height: 350px;
  display: block;
  margin: 0 auto;
  margin-top: 100px; }
header .nav {
  margin: 0;
  text-align: center;
  position: relative;
  top: 160px; }
  header .nav .landingtitles {
    list-style-type: none;
    display: inline-block;
    padding: 0 7.3%;
    text-align: center;
    text-transform: uppercase;
    font-family: source sans pro;
    font-weight: 900;
    font-size: 25px; }
    header .nav .landingtitles a {
      text-decoration: none;
      color: black; }
    header .nav .landingtitles a:hover {
      color: white; }
  header .nav .landing-work {
    position: relative;
    right: .5%; }
  header .nav .landing-resume {
    position: relative;
    right: 2.5%; }

footer {
  position: absolute;
  bottom: 0;
  left: 38%; }
  footer .landing-email {
    background-color: white;
    color: black; }

.headertemplate {
  height: 110px;
  width: 100%;
  padding: 10px 0 0 0;
  top: 0;
  background: linear-gradient(white, rgba(255, 255, 255, 0.98));
  position: fixed; }
  .headertemplate .navtemplate {
    margin: 0;
    margin-left: 7%; }
    .headertemplate .navtemplate .logotemplate {
      height: 100px; }
    .headertemplate .navtemplate .mainnav {
      margin-left: 60%; }
    .headertemplate .navtemplate li {
      text-align: center;
      text-transform: uppercase;
      font-family: source sans pro;
      font-weight: 900;
      font-size: 25px;
      font-size: 25px;
      display: inline-block;
      box-sizing: border-box;
      padding: 0 3%;
      position: relative;
      top: 230%;
      transform: translateY(-230%); }
      .headertemplate .navtemplate li a {
        text-decoration: none;
        color: black; }
      .headertemplate .navtemplate li .about-link:hover, .headertemplate .navtemplate li .about-link.active {
        color: #ffdd00; }
      .headertemplate .navtemplate li .work-link:hover, .headertemplate .navtemplate li .work-link.active {
        color: #00a1e5; }
      .headertemplate .navtemplate li .resume-link:hover, .headertemplate .navtemplate li .resume-link.active {
        color: #009f50; }
      .headertemplate .navtemplate li a:hover {
        transition: .7s; }

.main3-titles {
  text-align: center;
  text-transform: uppercase;
  font-family: source sans pro;
  font-weight: 900;
  font-size: 25px;
  display: block; }

.worktitle {
  color: black;
  text-align: left;
  text-transform: uppercase;
  font-size: 25px;
  margin: 3% 0;
  border-bottom: 1px solid #00a1e5; }

.abouttitle {
  color: black;
  text-align: left;
  text-transform: capitalize;
  font-size: 25px;
  margin: 3% 0 0 10%; }

.email {
  text-align: center;
  text-transform: uppercase;
  font-family: source sans pro;
  font-weight: 900;
  font-size: 25px;
  text-transform: lowercase;
  font-weight: 200;
  font-size: 25px;
  color: black; }

.maincontent-work, .maincontent-about, .maincontent-contact {
  margin: 0 10%; }

.homepage-grid {
  float: left;
  width: 31.3%;
  margin: 0 1% 2% 1%;
  height: auto;
  padding: 2% 0;
  box-sizing: border-box; }
  .homepage-grid h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: source sans pro;
    font-weight: 900;
    font-size: 25px;
    margin: 0; }
  .homepage-grid .image-box {
    height: 300px;
    width: 100%;
    box-sizing: border-box; }
    .homepage-grid .image-box img {
      object-fit: contain;
      display: block;
      margin: 0 auto;
      height: 100%;
      width: 100%; }
  .homepage-grid p {
    text-align: center;
    text-transform: uppercase;
    font-family: source sans pro;
    font-weight: 900;
    font-size: 25px;
    font-weight: 100;
    font-size: 15px;
    margin-top: 0; }

.maincontent-about {
  margin-bottom: 5%;
  padding: 1% 0;
  border-top: 1px solid #ffdd00;
  border-bottom: 1px solid #ffdd00; }
  .maincontent-about .about-image {
    float: left;
    height: 15.98rem;
    margin-right: 1.2%; }
  .maincontent-about .about-text {
    text-align: center;
    text-transform: uppercase;
    font-family: source sans pro;
    font-weight: 900;
    font-size: 25px;
    text-transform: none;
    text-align: left;
    font-weight: 200;
    font-size: 25px;
    margin: 0; }

/*# sourceMappingURL=style.css.map */
