.case-footer {
  text-align: left;
  position: fixed;
  top: 35%;
  margin-left: 3%;
  width: 4%; }
  .case-footer .case-contact {
    color: black;
    text-decoration: none; }
  .case-footer .case-contact:hover {
    color: #00a1e5;
    transition: .5s;
    cursor: pointer; }
  .case-footer .fa {
    font-size: 3rem;
    padding: 10% 0;
    display: block; }

.main-content-casestudy {
  margin: 0 10%;
  margin-bottom: 5%; }

.title-casestudy {
  text-align: center;
  margin-bottom: 5%;
  text-transform: uppercase;
  font-family: source sans pro;
  font-size: 30px;
  font-weight: 900; }
  .title-casestudy .casestudy {
    font-family: source sans pro;
    font-weight: 100; }

.title {
  clear: both;
  text-transform: uppercase;
  text-align: left;
  font-family: source sans pro;
  font-weight: 900;
  font-size: 30px;
  color: black;
  border-bottom: 3px solid #00a1e5;
  margin: 0; }

.challengescontainer {
  padding: 0 0 5% 0;
  box-sizing: border-box; }
  .challengescontainer .challengestext, .challengescontainer .summarytext {
    clear: both;
    font-family: source sans pro;
    font-weight: 500;
    font-size: 20px;
    margin: 3% 10% 5% 0;
    float: left;
    width: 60%; }
  .challengescontainer .summarytext {
    width: 70%; }

.bikescreen {
  height: 250px;
  width: 49.7%;
  margin-top: 5%; }

.branchless-example-container {
  padding-left: 5%; }

.wireframes {
  height: 265px;
  margin: 2% 0 5% 0; }

.mockups {
  height: 325px;
  margin: 5% 2% 0 2%; }

.toolscontainer {
  text-align: center;
  margin-top: 5%; }
  .toolscontainer .tools {
    padding: 0; }
    .toolscontainer .tools li {
      list-style-type: none;
      font-family: 'Source Sans Pro', sans-serif;
      padding: 10px 0;
      font-weight: 100;
      font-size: 20px;
      font-weight: 900;
      display: inline-block;
      margin: 3% 3%; }

.goodreads-wireframes {
  height: 400px;
  margin: 5% 2% 0 2%; }

.goodreads-logo {
  height: 250px;
  display: block;
  margin: 5% auto; }

.goodreads-mockup {
  height: 400px;
  display: block;
  margin: 5% auto; }

.bikemd-challenges-button, .work-button, .branchless-challenges-button, .goodreads-challenges-button {
  text-decoration: none;
  color: #00a1e5; }

.bikemd-challenges-button h4 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  font-size: 25px;
  border: 1px solid #00a1e5;
  border-radius: 3%;
  font-size: 20px;
  display: inline-block;
  text-align: center;
  padding: 2%;
  width: 20%;
  position: relative;
  top: -150%;
  transform: translateY(150%); }

.branchless-challenges-button h4 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  font-size: 25px;
  border: 1px solid #00a1e5;
  border-radius: 3%;
  font-size: 20px;
  display: inline-block;
  text-align: center;
  padding: 2%;
  width: 20%;
  position: relative;
  top: -150%;
  transform: translateY(150%); }

.goodreads-challenges-button h4 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  font-size: 25px;
  border: 1px solid #00a1e5;
  border-radius: 3%;
  font-size: 20px;
  display: inline-block;
  text-align: center;
  padding: 2%;
  width: 20%;
  position: relative;
  top: -50%;
  transform: translateY(50%); }

.work-button h4 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  font-size: 25px;
  border: 1px solid #00a1e5;
  border-radius: 3%;
  font-size: 20px;
  display: inline-block;
  text-align: center;
  padding: 2%;
  width: 20%;
  display: block;
  margin: 0 auto; }

.bikemd-challenges-button h4:hover, .branchless-challenges-button h4:hover, .goodreads-challenges-button h4:hover, .work-button h4:hover {
  color: white;
  background-color: #00a1e5;
  transition: .3s; }

.landing-body {
  margin: 0; }
  .landing-body .branch {
    display: none; }

body {
  margin: 150px 0 0 0; }

header .logo-container {
  text-align: center; }
  header .logo-container .logo {
    height: 23vw;
    margin-top: 8%; }
  header .logo-container .square1, header .logo-container .square2, header .logo-container .square3 {
    background-color: #ffdd00;
    border-radius: 7%; }
  header .logo-container .square2 {
    background-color: #00a1e5; }
  header .logo-container .square3 {
    background-color: #009f50; }
  header .logo-container .square1:hover, header .logo-container .square2:hover, header .logo-container .square3:hover, header .logo-container .square2:hover, header .logo-container .square3:hover {
    transform: scale(1.05);
    transition: 1s; }
  header .logo-container .logo-name {
    height: 4.4vw;
    margin-top: 1%; }

footer {
  width: 100%;
  text-align: center;
  margin: 3% 0; }
  footer .contact {
    color: black; }
  footer .contact:hover {
    color: #00a1e5;
    transition: .5s;
    cursor: pointer; }
  footer .fa {
    font-size: 3rem;
    margin: 0 2% 5% 2%;
    display: inline-block; }

.headertemplate {
  height: 110px;
  width: 100%;
  padding: 10px 0 0 0;
  top: 0;
  background: linear-gradient(white, rgba(255, 255, 255, 0.99));
  position: fixed;
  z-index: 100; }
  .headertemplate .navtemplate {
    margin: 0;
    margin-left: 7%; }
    .headertemplate .navtemplate .logotemplate {
      height: 100px; }
    .headertemplate .navtemplate .mainnav {
      margin-left: 60%; }
    .headertemplate .navtemplate li {
      text-align: center;
      text-transform: uppercase;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 900;
      font-size: 25px;
      font-size: 25px;
      display: inline-block;
      box-sizing: border-box;
      padding: 0 3%;
      position: relative;
      top: 230%;
      transform: translateY(-230%); }
      .headertemplate .navtemplate li a {
        text-decoration: none;
        color: black; }
      .headertemplate .navtemplate li .about-link:hover, .headertemplate .navtemplate li .about-link.active {
        color: #ffdd00; }
      .headertemplate .navtemplate li .work-link:hover, .headertemplate .navtemplate li .work-link.active {
        color: #00a1e5; }
      .headertemplate .navtemplate li .resume-link:hover, .headertemplate .navtemplate li .resume-link.active {
        color: #009f50; }
      .headertemplate .navtemplate li a:hover {
        transition: .5s; }

.main3-titles {
  clear: both;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  font-size: 25px;
  display: block; }

.worktitle {
  color: black;
  text-align: left;
  text-transform: uppercase;
  font-size: 25px;
  margin: 3% 0 0 0;
  border-bottom: 3px solid #00a1e5; }

.abouttitle {
  color: black;
  text-align: left;
  text-transform: capitalize;
  font-size: 25px;
  margin: 3% 0 0 10%; }

.email {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  font-size: 25px;
  text-transform: lowercase;
  font-weight: 200;
  font-size: 25px;
  color: black; }

.maincontent-about {
  padding: 1% 0;
  border-top: 3px solid #ffdd00;
  border-bottom: 3px solid #ffdd00;
  margin: 0 10% 5% 10%; }
  .maincontent-about .about-image {
    float: left;
    height: 22.98rem;
    margin-right: 1.5%; }
  .maincontent-about .about-text {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 25px;
    text-transform: none;
    text-align: left;
    font-weight: 500;
    font-size: 25px;
    margin: 0; }

.about-footer {
  text-align: left;
  position: fixed;
  top: 35%;
  margin-left: 3%;
  width: 4%; }
  .about-footer .about-contact {
    color: black;
    text-decoration: none; }
  .about-footer .about-contact:hover {
    color: #ffdd00;
    transition: .5s;
    cursor: pointer; }
  .about-footer .fa {
    font-size: 3rem;
    padding: 10% 0;
    display: block; }

.maincontent-work, .maincontent-resume {
  margin: 0 10%; }

.homepage-grid {
  float: left;
  width: 31.3%;
  margin: 0 1% 2% 1%;
  height: auto;
  padding: 2% 0;
  box-sizing: border-box;
  position: relative; }
  .homepage-grid .work-info {
    position: absolute;
    bottom: 6%;
    height: 88%;
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 33%;
    box-sizing: border-box;
    transform: scale(0); }
    .homepage-grid .work-info h2 {
      text-align: center;
      text-transform: uppercase;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 900;
      font-size: 25px;
      margin: 5% 0 0 0; }
  .homepage-grid .image-box {
    height: 18.5rem;
    width: 100%; }
    .homepage-grid .image-box img {
      object-fit: cover;
      object-position: top;
      display: block;
      margin: 0 auto;
      height: 100%;
      width: 100%; }
  .homepage-grid p {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 25px;
    font-weight: 500;
    font-size: 16px;
    margin-top: 0;
    font-style: italic;
    text-transform: none; }

.homepage-grid:hover h2 {
  color: #00a1e5;
  transition: .5s; }

.homepage-grid:hover .work-info {
  transform: scale(1);
  transition: .5s; }

@media (min-width: 768px) and (max-width: 1026px) {
  .headertemplate .navtemplate .mainnav {
    margin-left: 40%; }

  .maincontent-work .homepage-grid .work-info {
    transform: scale(1);
    transition: .5s;
    height: 40%;
    padding: 2% 0;
    bottom: 30%; }
    .maincontent-work .homepage-grid .work-info h2 {
      color: #00a1e5; } }
@media (min-width: 586px) and (max-width: 767px) {
  header .logo-container {
    text-align: center;
    height: auto; }
    header .logo-container .logo {
      height: 30vw;
      margin-top: 40%; }

  .headertemplate .navtemplate .mainnav {
    margin-left: 40%; }

  .case-footer, .about-footer {
    margin-left: 1.5%; }

  .maincontent-work .homepage-grid .work-info {
    transform: scale(1);
    transition: .1s;
    height: 40%;
    padding: 2% 0;
    bottom: 30%; }
    .maincontent-work .homepage-grid .work-info h2 {
      color: #00a1e5; } }
@media (max-width: 585px) {
  header .logo-container {
    text-align: center;
    height: auto; }
    header .logo-container .logo {
      height: 30vw;
      margin-top: 40%; }
    header .logo-container .logo-name {
      height: 5.5vw; }
    header .logo-container .square1, header .logo-container .square2, header .logo-container .square3 {
      background-color: #ffdd00;
      border-radius: 5%; }
    header .logo-container .square2 {
      background-color: #00a1e5;
      border-radius: 5%; }
    header .logo-container .square3 {
      background-color: #009f50;
      border-radius: 5%; }
    header .logo-container .square1:hover, header .logo-container .square2:hover, header .logo-container .square3:hover, header .logo-container .square2:hover, header .logo-container .square3:hover {
      background-color: white;
      border-radius: 5%; }

  footer {
    margin-top: 10%; }

  .headertemplate {
    height: 147px; }

  .headertemplate .navtemplate {
    margin-left: 9%; }

  .headertemplate .navtemplate .mainnav {
    margin-left: -12%;
    margin-top: 27%;
    font-size: 20px; }

  .worktitle {
    display: none; }

  .homepage-grid {
    float: left;
    width: 100%;
    margin: 0 1% 2% 1%;
    height: auto;
    padding: 2% 0;
    box-sizing: border-box; }

  .maincontent-work .homepage-grid .work-info {
    transform: scale(1);
    transition: .1s;
    height: 55%;
    padding-top: 17%;
    bottom: 9%;
    background-color: rgba(0, 0, 0, 0.6); }
    .maincontent-work .homepage-grid .work-info h2 {
      color: #00a1e5;
      margin: 0; }

  .case-footer {
    position: static;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    margin-top: 50%; }
    .case-footer .fa {
      font-size: 2rem;
      padding: 5%;
      display: inline-block; }

  .main-content-resume {
    margin: 0 5%;
    margin-bottom: 5%; }

  .resume-title {
    margin-bottom: 7%; }

  .skillscontainer {
    padding-left: 15%; }
    .skillscontainer .skills {
      display: block;
      width: 50%; }
      .skillscontainer .skills li {
        font-size: 25px; }

  .resume-projects-container .project {
    border-left: 0px; }

  .maincontent-about .about-image {
    float: none;
    width: 100%;
    height: 24.98rem; }
  .maincontent-about .about-text {
    font-weight: 300;
    font-size: 25px;
    margin: 0; }

  .abouttitle {
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    margin: 50% 0 0 0; }

  .about-footer {
    position: static;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    margin-top: 1%; }
    .about-footer .fa {
      font-size: 2rem;
      padding: 5%;
      display: inline-block; }

  .main-content-casestudy {
    margin: 0 5%; }

  .title {
    margin-top: 30%; }

  .title-casestudy {
    font-size: 25px; }

  .challengescontainer {
    padding: 0 0 5% 0;
    box-sizing: border-box; }
    .challengescontainer .challengestext, .challengescontainer .summarytext {
      font-weight: 500;
      font-size: 20px;
      margin: 3% 10% 5% 0;
      width: 100%; }
    .challengescontainer .summarytext {
      width: 100%;
      margin-bottom: 15%; }
    .challengescontainer .bikemd-challenges-button h4 {
      display: inline-block;
      width: 45%;
      position: static;
      margin: 2% 25%; }

  .work-button h4 {
    display: inline-block;
    width: 45%;
    position: static;
    margin: 0 25%;
    margin-bottom: 5%; }

  .bikescreen {
    width: 98%;
    height: auto; }

  .branchless-example-container {
    padding: 0; }

  .wireframes {
    height: auto;
    width: 100%;
    margin: 0; }

  .mockups {
    height: auto;
    width: 100%;
    margin: 5% 0; }

  .branchless-challenges-button h4 {
    display: inline-block;
    width: 45%;
    position: static;
    margin: 2% 25%; }

  .goodreads-wireframes {
    height: auto;
    width: 100%;
    margin: 5% 2% 0 2%; }

  .goodreads-logo {
    height: auto;
    width: 100%;
    display: block;
    margin: 5% auto; }

  .goodreads-mockup {
    height: auto;
    width: 100%;
    display: block;
    margin: 5% auto; }

  .goodreads-challenges-button h4 {
    display: inline-block;
    width: 45%;
    position: static;
    margin: 2% 25%; } }

/*# sourceMappingURL=style.css.map */
