

/* header nav template*/
.headertemplate {
    height:147px;
    .navtemplate {
        background-color:white;
        .mainnav {
            font-size:20px;
        }
    }
}


.headertemplate{
    height: 147px;
    width: 100%;
    padding: 10px 0 0 0;
    top: 0;
    background: -webkit-linear-gradient(
      rgba(white, 1),
      rgba(white, .99)
    );
    background:linear-gradient(
      rgba(white, 1),
      rgba(white, .99)
    );
    position:fixed;
    z-index:100;
  
    .navtemplate{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0;
      margin: 20px 5% 0;
      background-color: #fff;
  
      .logotemplate{
        height:110px;
        padding-bottom: 10px;
      }
  
      li{
        @include fontstyle;
        font-size:18px;
        display:inline-block;
        box-sizing:border-box;
        padding:0 8px;
        margin: 20px 0;
        @media (min-width: 767px) {
            font-size: 25px;
        }
        a{
          @include linkstyle;
        }
        .about-link:hover,
        .about-link.active{
          color:$yellow;
        }
  
        .work-link:hover,
        .work-link.active{
          color:$blue;
        }
  
        .resume-link:hover,
        .resume-link.active{
          color:$green;
        }
      }

      .mainnav {
        font-size:20px;
      }
    }

    @media (min-width: 767px) {
        .navtemplate {
            flex-direction: row;
            .mainnav {
                margin-left: auto;
            }
            li {
                margin: 0;
            }
        }
    }
  }



  /* about, work and resume page titles*/
  .main3-titles{
    clear:both;
    @include fontstyle;
    display:block;
  }
  
  .worktitle{
    color:black;
    text-align:left;
    text-transform:uppercase;
    font-size:25px;
    border-bottom:3px solid $blue;
    width: 100%;
    @media (min-width:767px) {
        margin: 90px 0 0 0;
    }
  }
  
  .abouttitle{
    color:black;
    text-align:left;
    text-transform:capitalize;
    font-size:25px;
    margin:3% 0 0 10%;
  }
  
  .email{
    @include fontstyle;
    text-transform:lowercase;
    font-weight:200;
    font-size:25px;
    color:black;
  }
  
  
  // resume 
  .maincontent-resume{
    margin:0 10%;
  }