.landing-body{
    margin:0;
  
    .branch{
      display:none;
    }
  }
  
  body{
    margin:200px 0 0 0;
  }
  /* landing page*/
  header{
  
    .logo-container{
      text-align:center;
  
      .logo{
        height:23vw;
        margin-top:8%;
      }
  
      .square1{
        background-color:$yellow;
        border-radius:7%;
        transition:.5s;
        animation: square1float 2s;
      }
  
      .square2{
        background-color:$blue;
        border-radius:7%;
        transition:.5s;
        animation: square2float 2s;
      }
  
      .square3{
        background-color:$green;
        border-radius:7%;
        transition:.5s;
        animation: square3float 2s;
      }
  
      // .square1:hover, .square2:hover, .square3:hover{
      //   opacity: .8;
      // }
  
      .logo-name{
        height:4.4vw;
        margin-top:1%;
        animation: nameappear 1s;
      }
    }
  }
  
  footer{
    width:100%;
    text-align:center;
    animation: infolinksappear 2s;
    .contact{
      color:black;
      transition:.5s;
    }
  
    .contact:hover{
      color:$blue;
      -webkit-transition:.5s;
      cursor:pointer;
    }
  
    .fa{
      font-size: 40px;
      margin:0 2% 5% 2%;
      display:inline-block;
    }
  }
  /* end landing page*/
  
  /* header template global*/
  .headertemplate{
    height:110px;
    width:100%;
    padding:10px 0 0 0;
    top:0;
    background:-webkit-linear-gradient(
      rgba(white, 1),
      rgba(white, .99)
    );
    background:linear-gradient(
      rgba(white, 1),
      rgba(white, .99)
    );
    position:fixed;
    z-index:100;
  
    .navtemplate{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0;
      margin: 20px 10% 0;
      background-color: #fff;
  
      .logotemplate{
        height:110px;
        padding-bottom: 10px;
      }
  
      li{
        @include fontstyle;
        font-size:18px;
        display:inline-block;
        box-sizing:border-box;
        padding:0 8px;
        margin: 20px 0;
        @media (min-width: 767px) {
            font-size: 25px;
        }
        a{
          @include linkstyle;
        }
        .about-link:hover,
        .about-link.active{
          color:$yellow;
        }
  
        .work-link:hover,
        .work-link.active{
          color:$blue;
        }
  
        .resume-link:hover,
        .resume-link.active{
          color:$green;
        }
      }
    }
    @media (min-width: 767px) {
        .navtemplate {
            flex-direction: row;
            .mainnav {
                margin-left: auto;
            }
            li {
                margin: 0;
            }
        }
    }
  }
  /* end header template*/
  
  /* about, work and resume page titles*/
  .main3-titles{
    clear:both;
    @include fontstyle;
    display:block;
  }
  
  .worktitle{
    color:black;
    text-align:left;
    text-transform:uppercase;
    font-size:25px;
    border-bottom:3px solid $blue;
    width: 100%;
    @media (min-width:767px) {
        margin: 90px 0 0 0;
    }
  }
  
  .abouttitle{
    color:black;
    text-align:left;
    text-transform:capitalize;
    font-size:25px;
    margin:3% 0 0 10%;
  }
  
  .email{
    @include fontstyle;
    text-transform:lowercase;
    font-weight:200;
    font-size:25px;
    color:black;
  }
  
  /* about*/
  .maincontent-about{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:1% 0;
    border-top:3px solid $yellow;
    margin:0 10% 5% 10%;
  
    .about-image{
      height: auto;
      width: 220px;
      margin: 20px 0;
    }
  
    .about-text{
      @include fontstyle;
      text-transform:none;
      text-align:left;
      font-weight:500;
      font-size:21px;
      margin:0;
    }
  }
  
  .about-footer{
    text-align:left;
    position:fixed;
    top:35%;
    margin-left:3%;
    width:4%;
  
    .about-contact{
      color:black;
      text-decoration:none;
    }
  
    .about-contact:hover{
      color:$yellow;
      transition:.5s;
      cursor:pointer;
    }
  
    .fa{
      font-size:3rem;
      padding:10% 0;
      display:block;
    }
  }
  
  /* work main content*/
  .maincontent-work, .maincontent-resume{
    margin:0 10%;
  }
  
  .maincontent-work {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    a {
        flex: 1 1 100%;
    }
  }
  
  .homepage-grid{
    margin: 5px;
    padding-bottom: 70px;
    height:auto;
    box-sizing:border-box;
    position:relative;
    overflow: hidden;
    .work-info{
      position:absolute;
      bottom:0;
      left: 0;
      right: 0;
      color:white;
      padding: 0 15px;
      background-color:rgba(black, 1);
      box-sizing:border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
        h2{
          @include fontstyle;
          margin:5% 0 0 0;
          color: $blue;
          font-size: 22px;
        }
    }
    .image-box{
      height:18.5rem;
      width: 100%;
  
      img{
        object-fit:cover;
        object-position:top;
        display:block;
        margin:0 auto;
        height:100%;
        width: 100%;
      }
    }
  /* project blurb*/
    p{
      @include fontstyle;
      font-weight:500;
      font-size:16px;
      margin-top:0;
      font-style:italic;
      text-transform:none;
    }
  }

  .work-1 {
    animation: workappeartop-1 1s;
  }
  .work-2 {
    animation: workappeartop-2 1.2s;
  } 
  .work-3 {
    animation: workappeartop-3 1.5s;
  }
  .work-4 {
    animation: workappearbottom-1 1.7s;
  }
  .work-5 {
    animation: workappearbottom-2 2s;
  }
  .work-6 {
    animation: workappearbottom-3 2.2s;
  }

      
      
  @media (min-width:768px) {
    .maincontent-work {
        a {
            flex: 1 1 50%;
        }
    }
  }

  @media (min-width:1024px) {
    .maincontent-work {
        a {
            flex: 1 1 30%;
        }
        .homepage-grid {
            padding-bottom: 0;
            .work-info {
                transform: translateY(50%);
                opacity: 0;
                transition: .5s;
                justify-content: center;
                top: 0;
                background-color:rgba(black, .7);
                h2 {
                    font-size: 24px;
                }
            }
            &:hover {
                .work-info h2{
                    color:$blue;
                    transition:.5s;
                }
                
                .work-info{
                    transform: translateY(0);
                    opacity: 1;
                }
            }
        }
     }
  }

  // social media
.case-footer{
    margin-top: 210px;
    .case-contact{
      color:black;
      text-decoration:none;
      position: static;
      top:35%;
      width:4%;
      transition:.5s;
    }
  
    .case-contact:hover{
      color:$blue;
      cursor:pointer;
    }
  }
  
  @media (min-width:767px) {
    .case-footer {
      text-align:left;
      position:fixed;
      top:35%;
      margin-top: 0;
      margin-left:3%;
      width:4%;
      .fa{
        font-size:40px;
        padding:10% 0;
        display:block;
      }
    }
  }
  
  @media (min-width:586px) and (max-width:767px){
  /* landing*/
    header{
  
    .logo-container{
      text-align:center;
      height:auto;
  
      .logo{
        height:30vw;
        margin-top:40%;
      }
    }
  }
  
    .about-footer{
      margin-left:1.5%;
    }
  }
  
  @media (max-width:585px){
  /* landing*/
    header{
  
    .logo-container{
      text-align:center;
      height:auto;
  
      .logo{
        height:30vw;
        margin-top:40%;
      }
  
      .logo-name{
        height:5.5vw;
      }
  
      .square1{
        background-color:$yellow;
        border-radius:5%;
      }
  
      .square2{
        background-color:$blue;
        border-radius:5%;
      }
  
      .square3{
        background-color:$green;
        border-radius:5%;
      }
  
      .square1:hover, .square2:hover, .square3:hover{
        background-color:white;
        border-radius:5%;
      }
    }
  }

  /* header nav template*/
    .headertemplate{
      height:147px;
    }
  
    .headertemplate .navtemplate {
        background-color:white;
  }
  
    .headertemplate .navtemplate .mainnav {
        font-size:20px;
    }
  
    .worktitle{
      display:none;
    }
  
    .homepage-grid{
      height:auto;
      box-sizing:border-box;
      + .homepage-grid {
          margin-top: 10px;
      }
    }
  
    .maincontent-about{
  
      .about-image{
        float:none;
        width: 220px;
        height: auto;
      }
  
      .about-text{
        font-weight:300;
        font-size:25px;
        margin:0;
      }
    }
  
    .abouttitle{
      color:black;
      text-align:center;
      text-transform:uppercase;
      font-size:20px;
      margin:50% 0 0 0;
    }
  
    .about-footer{
      position:static;
      text-align:center;
      width:70%;
      margin:0 auto;
      margin-top:1%;
  
      .fa{
        font-size:2rem;
        padding:5%;
        display:inline-block;
      }
    }
  
  /* case studies global*/
  .main-content-casestudy{
    margin:0 5%;
  }
  
  .title{
    margin-top:30%;
  }
  
  .title-casestudy{
    font-size:25px;
  }
  
  .challengescontainer{
    padding:0 0 5% 0;
    box-sizing:border-box;
  
    .challengestext{
      font-weight:500;
      font-size:20px;
      margin:3% 10% 5% 0;
      width:100%;
    }
  
    .summarytext{
      width:100%;
      margin-bottom:15%;
    }
  
    .bikemd-challenges-button h4 {
      display:inline-block;
      width: 45%;
      position:static;
      margin:2% 25%;
    }
  }
  
  .work-button h4{
    display:inline-block;
    width: 45%;
    position:static;
    margin:0 25%;
    margin-bottom:5%;
  }
  
  /* bikemd case*/
    .bikescreen{
      width:98%;
      height:auto;
    }
  
  /* branchless case*/
    .branchless-example-container{
      padding:0;
    }
  
    .wireframes{
      height:auto;
      width:100%;
      margin:0;
    }
  
    .mockups{
      height:auto;
      width:100%;
      margin:5% 0;
    }
  
    .branchless-challenges-button h4{
      display:inline-block;
      width: 45%;
      position:static;
      margin:2% 25%;
    }
    /* end branchless*/
  
    /* goodreads case*/
    .goodreads-wireframes{
      height:auto;
      width:100%;
      margin:5% 2% 0 2%;
    }
  
    .goodreads-logo{
      height:auto;
      width:100%;
      display:block;
      margin:5% auto;
    }
  
    .goodreads-mockup{
      height:auto;
      width:100%;
      display:block;
      margin:5% auto;
    }
  
    .goodreads-challenges-button h4{
      display:inline-block;
      width: 45%;
      position:static;
      margin:2% 25%;
    }
  }



// front page
  @keyframes square1float { 
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
  }

  @keyframes square2float { 
    0% {
        transform: translateY(-200%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
  }

  @keyframes square3float { 
    0% {
      transform: translateY(-300%);
      opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
  }


// work page
  @keyframes workappeartop-1 { 
    0% {
        transform: translateY(300px);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
  }
  @keyframes workappeartop-2 { 
    0% {
        transform: translateY(2300px);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
  }
  @keyframes workappeartop-3 { 
    0% {
        transform: translateY(4300px);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
  }
  @keyframes workappearbottom-1 { 
    0% {
        transform: translateY(3000px);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
  }
  @keyframes workappearbottom-2 { 
    0% {
        transform: translateY(4000px);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
  }
  @keyframes workappearbottom-3 { 
    0% {
        transform: translateY(5000px);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
  }